<p>Please tell us more about yourself!</p>
<form id="profileForm" method="POST">
  Age: <input type="text" name="age"><br>
  City: <input type="text" name="city"><br>
  Homepage: <input type="text" name="url"><br>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button type="submit">CONTINUE</button>
</form>
