<section id="signerOptions">
<img src="{{source}}" alt="">
<a href="/signers">See all {{length}} signers</a>
<a href="/changeProfile">Change profile</a>
<a href="/deleteSignature">Delete signature</a>
</section>
